@page
@model MotoManager.Pages.BikeDetailsModel
<style>
    table td:nth-child(even) {
        font-weight: bold;
    }

    .modal-body > table td {
        font-weight: normal !important;
    }

    @@media(max-width:768px) {
        #largeBikeIcon {
            display: none !important;
        }

        #smallBikeIcon {
            display: inline !important;
        }
    }

    @@media(max-width: 460px) {
        .responsiveTable td {
            display: inline-block;
            width: 50%;
        }
    }
</style>
@Html.AntiForgeryToken()
<div class="row justify-content-center m-0 mt-3">
    <div class="col-xl-3 col-lg-5 col-md-4">
        @if (Model.bike.ImagePath != null)
        {
            <img src="@Model.bike.ImagePath" id="largeBikeIcon" class="imgRounded shadow" />
        }
        else
        {
            <img src="/Images/DefaultBikeImage.png" id="largeBikeIcon" class="imgRounded shadow" />
        }
    </div>
    <div class="col-lg-5 col-md-6 my-auto">
        <h3 class="float-start">
            @if (Model.bike.ImagePath != null)
            {
                <img src="@Model.bike.ImagePath" id="smallBikeIcon" class="imgRounded shadow" style="width:80px!important; height: 80px!important; display: none" />
            }
            else
            {
                <img src="/Images/DefaultBikeImage.png" id="smallBikeIcon" class="imgRounded shadow" style="width:80px!important; height: 80px!important; display: none" />
            }
            @Model.bike.Manufacturer.ManufacturerName @Model.bike.Model
        </h3>
        <button class="btn p-0 float-end"><i class="fas fa-pen"></i></button>
        <table class="table responsiveTable w-100">
            <tr>
                <td>Registration</td>
                <td>@Model.bike.Registration</td>
                <td>Year</td>
                <td>@Model.bike.Year</td>
            </tr>
            <tr>
                <td>Colour</td>
                <td>@Model.bike.Colour</td>
                <td>Engine size</td>
                <td>@Model.bike.EngineSize</td>
            </tr>
            <tr>
                <td>VIN</td>
                <td>@Model.bike.VIN</td>
                <td>Engine number</td>
                <td>@Model.bike.EngineNumber</td>
            </tr>
            <tr>
                <td>Mileage</td>
                <td>
                    @Model.bike.Mileage <a class="btn btn-dark float-end" data-bs-toggle="modal" data-bs-target="#mileageCheckModal">Service check</a>
                </td>
                <td>Purchase price</td>
                <td>@Model.bike.PurchasePrice</td>
            </tr>
        </table>
    </div>
</div>
<div class="row justify-content-center m-0 mt-3">
    <div class="col-lg-5">
        <h3>Maintenance Specs</h3>
        <table class="table w-100">
            <thead>
                <tr>
                    <th>Maintenance description</th>
                    <th>Maintenance spec</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var maintenanceSpec in Model.bikeMaintenanceSpecs)
                {
                    <tr>
                        <td>@maintenanceSpec.MaintenanceSpec.SpecName</td>
                        <td>@maintenanceSpec.SpecValue</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-5">
        <h3>Service History</h3>
        <table class="table w-100">
            <thead>
                <tr>
                    <th>Service Description</th>
                    <th>Performed by</th>
                    <th>Mileage</th>
                    <th>Due In</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var serviceHistory in Model.serviceHistory)
                {
                    <tr>
                        <td>@serviceHistory.Description</td>
                        <td>@serviceHistory.PerformedBy</td>
                        <td>@serviceHistory.Mileage</td>
                        <td>@serviceHistory.DueIn</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="mileageCheckModal" class="modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="m-0 float-start">Check services due</h2>
                <h2 class="m-0 float-end" data-bs-dismiss="modal" style="cursor: pointer">
                    <i class="fas fa-times"></i>
                </h2>
            </div>
            <div class="modal-body">
                Current mileage: <input type="number" id="newMileage" /> <button class="btn btn-dark" onclick="GetServicesDue()">Check</button>
                <hr />
                <table class="table w-100">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Performed by</th>
                            <th>Last performed</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="servicesDueList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
    function GetServicesDue() {
        $("#servicesDueList").empty();
        var currentMileage = $("#newMileage").val();

        fetch("/BikeDetails/?handler=ServicesDue&" + new URLSearchParams({
            bikeId: @Model.bike.BikeID,
            mileage: currentMileage
        }), {
            method: "GET"
        })
        .then(response => response.json())
        .then(data => {
            $(data).each(function (key, val) {
                $("#servicesDueList").append(
                    '<tr>' +
                        '<td>' + val.description + '</td>' +
                        '<td>' + val.performedBy + '</td>' +
                        '<td>' + val.mileage + '</td>' +
                        '<td><button class="btn btn-dark" serviceHistoryId="' + val.serviceHistoryID + '" onclick="CompleteService(this)"><i class="fas fa-check"></i></button></td>' +
                    '</tr>'
                );
            });
        });
    }

    function CompleteService(completeBtn) {
        var currentMileage = $("#newMileage").val();
        var serviceHistoryId = $(completeBtn).attr("serviceHistoryId");

        fetch("/BikeDetails/?handler=CompleteService&" + new URLSearchParams({
            serviceHistoryId: serviceHistoryId,
            mileage: currentMileage
        }), {
            method: "POST",
            headers: {
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        })
        .then(function () {
            $("#servicesDueList").find(completeBtn).parents("tr").remove();
        });
    }
    </script>
}